<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/images/icon_weather.png">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>{{titel}}</title>
</head>
<body>
<div class="main-content">
{{>header}}
<p>This site was developed as part of a Udemy Class</p>
<p>The location data comes from mapbox and the weather data comes from weather stack<p>
<img class="portrait" src={{img_name}} width={{img_width}}/>
<p>{{caption}}</p>
</div>
{{>footer}}
</body>
</html>